ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #333;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
body {
  background-color: lightblue;
}
h1 {
  border: 2px solid black;
  border-radius: 5px;
}

div {
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
}
